@use '@/styles/mixin' as *;

.navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: .75rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;

    @include tablet {
        padding-inline: 2rem;
    }

    @include mobile {
        padding-block: .5rem;
        padding-inline: 1rem;
    }
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    li {
        svg {
            height: 24px;
            width: auto;

            @include mobile {
                height: 20px;
            }

            path {
                fill: $primary;
                transition: fill 150ms ease-in-out;
            }
        }

        &:hover {
            svg {
                path {
                    fill: $hover;
                }
            }
        }
    }


}