@use '@/styles/mixin' as *;

.blog {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    padding-block: 4rem;
    height: 50vh;
    height: 50dvh;

    @include mobile {
        gap: 1rem;
        padding-top: 3rem;
    }

    h1 {
        line-height: 1.25;

        span {
            color: $primary;
        }
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        p {
            font-size: 20px;
        }
    }
}