@use '@/styles/mixin' as *;

.spinnerwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;

    &.item {
        height: 100%;
    }
}

.spinner {
    border: 2px solid $hover;
    border-top: 2px solid $bg-white;
    border-right: 2px solid $bg-white;
    border-bottom: 2px solid $bg-white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}